.chatContainer {
  height: 70vh;
  width: 80%;
  display: grid;
  grid-template-columns: 0.6fr 0.6fr 1.2fr 0.6fr;
  grid-template-rows: 1.7fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "sidePanel chatArea chatArea chatArea"
    "sidePanel messageArea messageArea buttonsArea";
}

.chatArea {
  grid-area: chatArea;
  height: 100%;
  width: 100%;
  background-color: rgb(231, 231, 231);
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidePanel {
  grid-area: sidePanel;
  background-color: rgb(231, 231, 231);
  border-right: 1px solid rgb(209, 209, 209);
}

.friendDiv,
.utilityDiv,
.activeDiv {
  padding: 10%;
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid rgb(209, 209, 209);
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.activeDiv {
  background-color: rgb(209, 209, 209);
}

.friendsWindow,
.utilityWindow {
  div {
    cursor: pointer;
  }

  div:hover {
    background-color: rgb(209, 209, 209);
  }
}

.messageArea {
  grid-area: messageArea;
  margin: 5px;
}

.messageBox {
  width: 100%;
  height: 100%;
}

.buttonsArea {
  grid-area: buttonsArea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendButton {
  width: 80%;
  height: 30%;
  font-size: large;
  background-color: darkviolet;
  border: none;
  padding: 5px;
  color: white;
  margin-bottom: 5px;
}

.sendButton:hover {
  background-color: rgb(157, 0, 224);
  cursor: pointer;
}

.chatFromUser,
.chatToUser {
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
}

.chatFromUser {
  background-color: darkviolet;
  color: white;
}

.chatToUser {
  margin-left: auto;
  background-color: white;
}
