.friendRequest {
  width: 100%;
  margin-bottom: 10px;
}
.requestButtons {
  grid-area: requestButtons;
  text-align: center;
}
.requestUsername {
  font-size: xx-large;
  grid-area: requestUsername;
  text-align: left;
}
.requestName {
  grid-area: requestName;
  text-align: left;
}
