.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credentialsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credentialsBox input {
  padding: 2%;
  width: 40vw;
  border: none;
  border-bottom: 2px solid black;
  transition: linear 0.2s;
  margin-bottom: 15px;
}

.credentialsBox input:focus,
.credentialsBox input:hover {
  border-bottom: 2px solid darkviolet;
}

#goToRegisterButton {
  color: darkviolet;
  font-size: x-small;
}

.credentialsBoxButton {
  width: 10vw;
  background-color: darkviolet;
  border: none;
  padding: 5px;
  color: white;
  margin-bottom: 5px;
}

.credentialsBoxButton:hover {
  background-color: rgb(157, 0, 224);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .credentialsBox input {
    width: 70vw;
  }
  .credentialsBoxButton {
    width: 20vw;
  }
}

.passwordLabel {
  grid-area: password-label;
}

.loginLabel {
  grid-area: login-label;
}

.login {
  grid-area: login;
}

.password {
  grid-area: password;
}
